{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mb-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/login">Zaloguj się</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Zarejestruj się</a>
            </li>
        </ul>
    </div>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
        {% for message in app.flashes("success") %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control col-sm-10" placeholder="Email" required autofocus>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Hasło:</label>
        <input type="password" name="password" id="inputPassword" class="form-control col-sm-10" placeholder="Password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="offset-sm-2">
        <button class="btn btn-lg btn-primary mb-5" type="submit">
            Zaloguj się
        </button>
    </div>
    
</form>
{% endblock %}
